/*-- scss:defaults --*/

// import google fonts


// @import url("https://fonts.googleapis.com/css2?family=EB+Garamond");
// @import url("https://fonts.googleapis.com/css2?family=Commissioner");

$primary: #a8201a;
$secondary: #f9c80e;
$tertiary: #2a76dd;
$fourth-colour: #311847;
$body-bg: #fefefe;
$presentation-heading-color: $primary;
$presentation-font-size-root: 36px;
$mermaid-node-bg-color: $body-bg;
$mermaid-fg-color: $tertiary;
$mermaid-edge-color: $primary;
$mermaid-node-fg-color: $primary;

/*-- scss:rules --*/

.primary {color: $primary;}
.secondary {color: $secondary;}
.tertiary {color: $tertiary;}
.fourth-colour {color: $fourth-colour;}
